.env
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor/
.idea/
.vscode/

# Executables
*.exe
*.out

# Dependency directories 
/vendor/
/go.sum
/go.mod

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
